<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Thanks for your registration in Disney-Api!</p>
  <p>
  User details<br>
  --------------------------
  </p>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Password: <%= @user.password %></p>

  <p> You will no receive more emails than this. </p>
</body>
</html>